<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DatabaseEntities"
         connectionString="data source=devben.database.windows.net;initial catalog=sos_cleaner;persist security info=True;user id=dbuser;password=s33dn3T!;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"/>
  </connectionStrings>

  <applicationSettings>
    <Web.Properties.Settings>
      <setting name="Email_CleanerPaymentReceiver" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>weichienyap@seednet.com.my;ywc92@hotmail.com;</value>
      </setting>
    </Web.Properties.Settings>
  </applicationSettings>
</configuration>